
          <div class="publications">
            <h2>recent publications</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  {% bibliography --template selected_bib -f papers -q @*[selected={{1}}]* %}
                </div>
                <div class="carousel-item">
                  {% bibliography --template selected_bib -f papers -q @*[selected={{2}}]* %}
                </div>
                <div class="carousel-item">
                  {% bibliography --template selected_bib -f papers -q @*[selected={{3}}]* %}
                </div>
                <div class="carousel-item">
                  {% bibliography --template selected_bib -f papers -q @*[selected={{4}}]* %}
                </div>
                <div class="carousel-item">
                  {% bibliography --template selected_bib -f papers -q @*[selected={{5}}]* %}
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
